{% comment %}
*  This loops through the paginated posts 
*
*  Total posts: {{ paginator.total_posts }}
*  Total paginate-pages: {{ paginator.total_pages }}
*  
{% endcomment %}


{% for post in paginator.posts %}
 
  <div class="row">
    <div class="medium-12 columns">
        <h3>{{ post.title }}</h3>
        <p>
        {% if post.category %}<a class="noline" href="/{{ post.category }}"><span class="category">{{ post.category }}</span></a>{% endif %}
        {% if post.teaser %}{{ post.teaser | strip_html | escape }}{% else post.desc %}{{ post.desc | strip_html | escape }}{% endif %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title escape_once }}">{{ site.data.language.more | downcase }}</a>
        </p>
    </div>
  </div>

{% endfor %}


<nav id="pagination" class="t50">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a class="radius button small" href="{{ site.url }}/posts/" title="Previous">&laquo; Previous</a>
    {% else %}
    <a class="radius button small" href="{{ site.url }}/posts/page{{ paginator.previous_page }}/" title="Previous">&laquo; Previous</a>
    {% endif %}
  {% endif %}

  <a class="radius button small" href="{{ site.url }}/posts/all/" title="All Posts">All</a>
      
  {% if paginator.next_page %} 
  <a class="radius button small" href="{{ site.url }}/posts/page{{ paginator.next_page }}/" title="Next">Next &raquo;</a>
  {% endif %} 
</nav>
