{% if page.hdr == "FrontPage" %}

<div id="hdr-frontpage" class="hdr"><div id="hdr-highlight"><div class="row" data-pro-motion="splash"><div class="hdr-text"><span>Craft rich web animations with ease.</span></div><div class="hdr-text"><div><span>Really.</span></div></div></div></div></div>
{% include splash_front.html %}
{% elsif page.hdr == "Title" %}

<div id="hdr-title" class="hdr"><div id="hdr-highlight"><div class="row" data-pro-motion="splash"><div class="hdr-text"><span>{{ page.header.title }}</span></div></div></div></div></div></div>
{% include splash_title.html %}

{% endif %}
