div.name-value-row,
div.model-setup-row,
div.model-props-row,
div.prop-value-row,
div.prop-format-row {
	border-left: solid 0.2em #CCC;
	margin: 0 0 0.2em 0.1em !important;
	> div > p {
		margin: 0;
	} 
}

div.name-value-row { border-left-color: #CCC; }
div.model-setup-row { border-left-color: orange; }
div.model-props-row { border-left-color: green; }
div.prop-value-row { border-left-color: green; }
div.prop-format-row { border-left-color: purple; }

div.play-story {
	font-size: 1.1em;
	background-color: #567;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	text-align: right;
	padding-right:0.3em;
	a {
		color: #FFF;
	}
}