#navigation {
  background: #eee; 
	background: linear-gradient(top, #eee 0%, #bbb 100%);  
	background: -moz-linear-gradient(top, #eee 0%, #bbb 100%); 
	background: -webkit-linear-gradient(top, #eee 0%,#bbb 100%); 
}

.top-bar,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button),
.top-bar-section ul li {
	background: transparent;
	text-transform: lowercase;
  font-weight: bold;
  font-size: 1em;
  color: #445;
}

.top-bar-section ul li:hover:not(.has-form)>a {
	background: #CCC; 
}
.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section .dropdown li:not(.has-form):not(.active):hover>a:not(.button) {
	background: #678;
	color: #FFF;
	text-shadow: 1px 1px #000;
}

.top-bar-section li:not(.has-form) a:not(.button):hover::after {
	border-color: #FFF transparent transparent transparent;
}

.top-bar-section ul.dropdown li {
	background: rgba(200,200,200,0.9);
}

/*
 * DROP SHADOW ON TOP BAR AND DROPDOWN
 */
#navigation,
ul.dropdown {
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

/*
 * MENU DROPDOWNS LEFT-ALIGNED WITH TOP BAR MENU
 */
.top-bar-section .right li .dropdown {
	left: 0;
	right: auto;
}