---
layout: page-fullwidth
format: animation
ace-js: true
---
<div class="row t30">
	<div class="medium-7 columns">

		<div data-prostyle="animation"></div>
	
		<article class="t30">
			{{ content }}
		</article>

	</div>
	<div class="medium-5 columns">

		{% include ad.html %}
		<pre id="editor" class="t30" style="width:100%;">story = {% include {{ page.story }} %};
</pre>
		<pre id="editor2">{% if page.story2 %}story = {% include {{ page.story2 }} %};
{% endif %}</pre>
		<pre id="editor3">{% if page.story3 %}story = {% include {{ page.story3 }} %};
{% endif %}</pre>
		<button id="btnJson1" class="jsonButton" disabled>1</button>
		<button id="btnJson2" class="jsonButton">2</button>
		<button id="btnJson3" class="jsonButton">3</button>
		<button id="btnUpdateAnim" class="jsonButton" disabled>Update</button>
		<div class="row t60 highlighted-posts">
			<div class="small-12 columns t60">
				{% if page.category == 'gallery' %}
				{% include list-posts.html category='gallery' entries='12' %}
				{% endif %}
				{% if page.category == 'example' %}
				{% include list-posts.html category='example' entries='12' %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="row t30">
	<div class="small-12 columns">{% include comments.html %}</div>
</div>
<script>
window.ProStyle = window.ProStyle || {};
ProStyle.Stories = ProStyle.Stories || {};
ProStyle.Stories.animation = {% include {{ page.story }} %};

ProStyle.defaultControllers = [
	{ controllerType:"auto", start:true, stepAdvance:true, restart:true },
	{ controllerType:"track" },
	{ controllerType:"mouseWheel" }
];
</script>
