---
layout: default
format: animation
---
<div class="row t30">
	<div class="medium-7 columns">

		<div id="animation" data-pro-motion="animation"></div>
	
		<article class="t30">
			{{ content }}
		</article>

	</div>
	<div class="medium-5 columns">

		{% include ad.html %}
		<pre id="editor" class="t30" style="width:100%;">story = {% include {{ page.story }} %};
</pre>
		<button id="btnUpdateAnim" disabled>Update</button>
	</div>
</div>
<script>
window.Pro = window.Pro || {};
window.Pro.Motion = window.Pro.Motion || {};
window.Pro.Motion.Stories = window.Pro.Motion.Stories || {};
var animation = Pro.Motion.Stories.animation = Pro.Motion.Stories.animation || {};

animation.story = {% include {{ page.story }} %};
</script>
