---
layout: default
format: animation
---
<div class="row t30">
	<div class="medium-4 columns">

		<div> SOURCE </div>

	</div><!-- /.medium-4.columns -->
	<div class="medium-8 columns">

		<div> ANIMATION </div>
	
		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}
			
			{{ content }}
		</article>

	</div><!-- /.medium-8.columns -->

</div><!-- /.row -->


