---
layout: default
format: blog-index
---

<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

<div class="row t20" markdown="1"><div class="medium-10 medium-centered large-8 large-centered columns" markdown="1"><p class="b0" style="box-shadow:2px 2px 5px rgba(0,0,0,0.5);border:solid 2px black;border-radius:10px;background:rgb(255,255,63);padding:1em;font-weight:bold;">This website is under development, so expect missing pages and mistakes until late-August. Yes, we know that the above animation doesn't look good on either MSIE or MS Edge.  For now, use _any_ other browser (e.g. Chrome, Firefox, Opera, Safari). We'll add a check and give less-nice animation for both of Microsoft's browsers when the site goes live. _Hopefully Edge will get better._</p></div></div>
<div class="row t80"><div class="medium-12 columns"><p class="teaser">
Ever wanted to create stunning animation and add it to your web page or web application?
Seen amazing presentations built on the web but figured you’d need to hire a developer to make something like that? 
Maybe you are a developer but want to create animations quickly. ProStyle makes it easy!
You write your stories using a simple text language that describes how to position and animate content.
They are written as JSON and processed by our <a href="https://github.com/pro-graphics/prostyle/">ProStyle</a> JavaScript library.
</p></div></div>

<div class="row t60">
    {% if page.widget-1.title %}
    <div class="medium-4 columns" style="text-align:center">
        <a href="{% if page.widget-1.url contains 'http' %}{{ page.widget-1.url }}{% else %}{{ site.baseurl }}{{ page.widget-1.url }}{% endif %}"><i class="fa {{ page.widget-1.icon }} front-icon"></i></a>
        <h2 class="t50 b20">{{ page.widget-1.title }}</h2>
        <p style="text-align:left">{{ page.widget-1.text }}</p>
        <p><a class="button radius" href="{% if page.widget-1.url contains 'http' %}{{ page.widget-1.url }}{% else %}{{ site.baseurl }}{{ page.widget-1.url }}{% endif %}">{{ site.data.language.more }}</a></p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-2.title %}
    <div class="medium-4 columns" style="text-align:center">
        <a href="{% if page.widget-2.url contains 'http' %}{{ page.widget-2.url }}{% else %}{{ site.baseurl }}{{ page.widget-2.url }}{% endif %}"><i class="fa {{ page.widget-2.icon }} front-icon"></i></a>
        <h2 class="t50 b20">{{ page.widget-2.title }}</h2>
        <p style="text-align:left">{{ page.widget-2.text }}</p>
        <p><a class="button radius" href="{% if page.widget-2.url contains 'http' %}{{ page.widget-2.url }}{% else %}{{ site.baseurl }}{{ page.widget-2.url }}{% endif %}">{{ site.data.language.more }}</a></p>
    </div><!-- /.medium-4.columns -->
    {% endif %}


    {% if page.widget-3.title %}
    <div class="medium-4 columns" style="text-align:center">
        <a href="{% if page.widget-3.url contains 'http' %}{{ page.widget-3.url }}{% else %}{{ site.baseurl }}{{ page.widget-3.url }}{% endif %}"><i class="fa {{ page.widget-3.icon }} front-icon"></i></a>
        <a href="{{ page.widget-3.url }}">{% if page.widget-3.image %}<img class="lazy" data-src="{{ site.urlimg }}/{{ page.widget-3.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-3.video %}{{ page.widget-3.video }}{% endif %}</a>
        <h2 class="t50 b20">{{ page.widget-3.title }}</h2>
        <p style="text-align:left">{{ page.widget-3.text }}</p>
        <p><a class="button radius" href="{% if page.widget-3.url contains 'http' %}{{ page.widget-3.url }}{% else %}{{ site.baseurl }}{{ page.widget-3.url }}{% endif %}">{{ site.data.language.more }}</a></p>
    </div><!-- /.medium-4.columns -->
    {% endif %}
</div><!-- /.row -->

{{ content }}

{% unless site.posts == empty %}
    <div class="row t90 highlighted-posts">
        <div class="medium-7 columns">
          {% for post in site.posts limit:3 %}
          <div class="row b40">
            <div class="medium-12 columns">
				      <h3><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                {% if post.category %}<a href="/{{ post.category }}"><span class="category">{{ post.category }}</span></a> &middot; {% endif %}
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title escape_once }}">{{ site.data.language.read_more }}</a>
            </div>
          </div>
          {% endfor %}
        </div>


        <div class="medium-5 columns">
            <h3>{{ site.data.language.more_articles }}</h3>
            {% include list-posts.html entries='12' offset='3' %}
        </div>
    </div>
{% endunless %}
