---
layout: default
format: post
---
<style>
	div.gallery.row li {
	}
</style>
<div class="gallery row">
<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
		{% for post in site.categories.gallery %}
		    <li><img width="100%" src="/images/gallery/{{post.thumbnail}}"></li>
			<li><img width="100%" src="/images/gallery/{{post.thumbnail}}"></li>
			<li><img width="100%" src="/images/gallery/{{post.thumbnail}}"></li>
		    <li><img width="100%" src="/images/gallery/{{post.thumbnail}}"></li>
			<li><img width="100%" src="/images/gallery/{{post.thumbnail}}"></li>
			<li><img width="100%" src="/images/gallery/{{post.thumbnail}}"></li>
		{% endfor %}
</ul>
</div>