---
layout: default
splash: frontpage
breadcrumbs: false
---

<style>
    #forkongithub{display:none;pointer-events:none;}
    #forkongithub a{background:rgba(127,127,127,0.5);color:#FFF;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;white-space:nowrap;opacity:0.5;padding:0;pointer-events:auto;}
    #forkongithub a:hover{background:#456;color:#FFF;opacity:1;}
    #forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#FFF;}
    #forkongithub a::after{bottom:1px;top:auto;}
    @media screen and (min-width:800px){
        #forkongithub{position:absolute;display:block;top:3.125rem;right:0;width:250px;overflow:hidden;height:200px;}
        #forkongithub a{width:250px;position:absolute;top:50px;right:-65px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}
    }
</style><span id="forkongithub"><a href="https://github.com/ProGraphics/prostyle.js">Star on GitHub</a></span>

<div class="row"><div class="medium-12 columns"><p class="teaser t80">
Write your animated stories into text files that describe how to position and animate content.
Our <a href="/write-stories/">ProStyle</a> JavaScript library then transforms your story into rich, animated web content!
</p></div></div>

<div class="row t60">
    {% if page.widget-1.title %}
    <div class="medium-4 columns" style="text-align:center">
        <a href="{% if page.widget-1.url contains 'http' %}{{ page.widget-1.url }}{% else %}{{ site.baseurl }}{{ page.widget-1.url }}{% endif %}"><i class="fa {{ page.widget-1.icon }} front-icon"></i></a>
        <h2 class="t50 b20">{{ page.widget-1.title }}</h2>
        <p style="text-align:left">{{ page.widget-1.text }}
            <a href="{% if page.widget-1.url contains 'http' %}{{ page.widget-1.url }}{% else %}{{ site.baseurl }}{{ page.widget-1.url }}{% endif %}">{{ site.data.language.more | downcase }}</a>
        </p>
    </div>
    {% endif %}


    {% if page.widget-2.title %}
    <div class="medium-4 columns" style="text-align:center">
        <a href="{% if page.widget-2.url contains 'http' %}{{ page.widget-2.url }}{% else %}{{ site.baseurl }}{{ page.widget-2.url }}{% endif %}"><i class="fa {{ page.widget-2.icon }} front-icon"></i></a>
        <h2 class="t50 b20">{{ page.widget-2.title }}</h2>
        <p style="text-align:left">{{ page.widget-2.text }}
            <a href="{% if page.widget-2.url contains 'http' %}{{ page.widget-2.url }}{% else %}{{ site.baseurl }}{{ page.widget-2.url }}{% endif %}">{{ site.data.language.more | downcase }}</a>
        </p>
    </div>
    {% endif %}


    {% if page.widget-3.title %}
    <div class="medium-4 columns" style="text-align:center">
        <a href="{% if page.widget-3.url contains 'http' %}{{ page.widget-3.url }}{% else %}{{ site.baseurl }}{{ page.widget-3.url }}{% endif %}"><i class="fa {{ page.widget-3.icon }} front-icon"></i></a>
        <a href="{{ page.widget-3.url }}">{% if page.widget-3.image %}<img class="lazy" data-src="{{ site.urlimg }}/{{ page.widget-3.image }}" width="302" height="182" alt="">{% endif %}{% if page.widget-3.video %}{{ page.widget-3.video }}{% endif %}</a>
        <h2 class="t50 b20">{{ page.widget-3.title }}</h2>
        <p style="text-align:left">{{ page.widget-3.text }}
            <a href="{% if page.widget-3.url contains 'http' %}{{ page.widget-3.url }}{% else %}{{ site.baseurl }}{{ page.widget-3.url }}{% endif %}">{{ site.data.language.more | downcase }}</a>
        </p>
    </div>
    {% endif %}
</div>

{{ content }}

{% unless site.posts == empty %}
    <div class="row t90 highlighted-posts">
        <div class="medium-7 columns">
          {% for post in site.posts limit:4 %}
          <div class="row b50">
            <div class="medium-12 columns">
                <h3>{{ post.title }}</h3>
                <p>
                {% if post.category %}<a class="noline" href="/{{ post.category }}"><span class="category">{{ post.category }}</span></a>{% endif %}
                {% if post.teaser %}{{ post.teaser | strip_html | escape }}{% else post.desc %}{{ post.desc | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title escape_once }}">{{ site.data.language.more | downcase }}</a>
                </p>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="medium-5 columns">
            <h3>More Posts</h3>
            {% include list-posts.html entries='12' offset='4' %}
        </div>
    </div>
{% endunless %}
