---
layout: default
splash: title
cont_mousemove: true
---
<div class="row">
<div class="medium-7 large-8 columns" markdown="1">
{{ content }}
</div>
<div class="medium-5 large-4 columns">
{% for post in site.categories.gallery limit:2 %}
	<a class="page-gallery-items" href="{{ site.url }}{{ post.url }}"><img width="100%" alt="{{ post.title }}" title="{{ post.title }}" src="/images/gallery/{{post.thumbnail}}"></a>
{% endfor %}
<div style="margin:2em 0;">
</div>
{% if page.gallery-entries %}
{% assign entries = page.gallery-entries %}
{% else %}
{% assign entries = 5 %}
{% endif %}
{% for post in site.categories.gallery limit:entries offset:2 %}
	<a class="page-gallery-items" href="{{ site.url }}{{ post.url }}"><img width="100%" alt="{{ post.title }}" title="{{ post.title }}" src="/images/gallery/{{post.thumbnail}}"></a>
{% endfor %}
</div>
</div>
