---
layout: default
ace-js: true
cont_mousewheel: true
---
<div class="row t30">
	<div class="large-7 columns">

		<div data-prostyle="animation"></div>
		<div class="clearfix t10">{% include next-previous-post-in-category.html %}</div>
	
		<article class="t30">
			{{ content }}
		</article>

	</div>
	<div class="large-5 columns">

		<pre id="editor" style="width:100%;">story = {% include {{ page.story }} %};
</pre>
		<pre id="editor2">{% if page.story2 %}story = {% include {{ page.story2 }} %};
{% endif %}</pre>
		<pre id="editor3">{% if page.story3 %}story = {% include {{ page.story3 }} %};
{% endif %}</pre>
		<div class="clearfix b20">
		<button id="btnJson1" class="jsonButton" disabled>1</button>
		<button id="btnJson2" class="jsonButton">2</button>
		<button id="btnJson3" class="jsonButton">3</button>
		<button id="btnUpdateAnim" class="jsonButton" disabled>Update</button>
		</div>
		{% include ads/post-animation.html %}
		<div class="row t40 highlighted-posts">
			<div class="small-12 columns t60">
				{% if page.category == 'gallery' %}
				{% include list-posts.html category='gallery' entries='12' %}
				{% endif %}
				{% if page.category == 'examples' %}
				{% include list-posts.html category='examples' entries='12' %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="row t30">
	<div class="small-12 columns">{% include comments.html %}</div>
</div>
<script>
window.ProStyle = window.ProStyle || {};
window.ProStyle.mediaRootUrl = "/images/story/";
ProStyle.Stories = ProStyle.Stories || {};
ProStyle.Stories.animation = {% include {{ page.story }} %};

ProStyle.defaultControllers = [
	{ controllerType:"auto", start:true, stepAdvance:true, restart:true },
	{ controllerType:"resize" },
	{ controllerType:"track" },
	{ controllerType:"mouseWheel" }
];
</script>
